<div class="container" style="margin-top:20px;">
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
      <ul class="breadcrumb">
        <li><a href="/<%= "?locale=" + params[:locale] if !params[:locale].nil? %>"><%= t("views.navigation.homepage") %></a> <span class="divider">&gt;</span></li>
        <li class="active"><%= t("views.navigation.goodstudents") %></li>

        <div class="pull-right">
          <a href="?locale=cn" class="language"><img src="/res/images/flags/cn.png" /></a>
          <a href="?locale=en" class="language"><img src="/res/images/flags/us.png" /></a>
        </div>
      </ul>
    </div>
    <div class="span1"></div>
  </div>

  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span10 well">
      <h3 style="text-align:center">2012年书画班优秀学员</h3>
      <hr /><br />
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student1.jpg" width="284" height="170" alt="" />
              <h4>郑子墨</h4>
              <p>大丰市第三小学，一年级 </p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student2.jpg" width="284" height="170" alt="" />
              <h4>杨梓宁</h4>
              <p>大丰市第三小学，三年级</p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student3.jpg" width="284" height="170" alt="" />
              <h4>邵恩浩</h4>
              <p>大丰市实验小学，五年级</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student4.jpg" width="284" height="170" alt="" />
              <h4>马玥</h4>
              <p>大丰市第二小学，二年级</p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student5.jpg" width="284" height="170" alt="" />
              <h4>荣婷鑫</h4>
              <p>大丰市第二小学，四年级</p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student6.jpg" width="284" height="170" alt="" />
              <h4>丁语菲</h4>
              <p>大丰市第三小学，二年级</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student7.jpg" width="284" height="170" alt="" />
              <h4>江毅纬</h4>
              <p>大丰市第二小学，二年级</p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student8.jpg" width="284" height="170" alt="" />
              <h4>陈芊伊</h4>
              <p>大丰市实验小学，二年级</p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student9.jpg" width="284" height="170" alt="" />
              <h4>束秋涵</h4>
              <p>大丰市第一小学，四年级</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student10.jpg" width="284" height="170" alt="" />
              <h4>郭燕</h4>
              <p>大丰市第四小学，四年级</p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student11.jpg" width="284" height="170" alt="" />
              <h4>任柯屹</h4>
              <p>大丰市第三小学，六年级</p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student12.jpg" width="284" height="170" alt="" />
              <h4>沈瑶</h4>
              <p>大丰市第三小学，三年级</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student13.jpg" width="284" height="170" alt="" />
              <h4>吴思语</h4>
              <p>大丰市实验小学，三年级</p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student14.jpg" width="284" height="170" alt="" />
              <h4>金昊天</h4>
              <p>大丰市第三小学，三年级</p>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail" style="text-align:center">
              <img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/good_students/good_student15.jpg" width="284" height="170" alt="" />
              <h4>蔡文轩</h4>
              <p>大丰市第三小学，四年级</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="row-fluid">
        <div class="alert alert-block">
          <strong>评比标准: &nbsp;&nbsp;</strong>热爱书画、进步显著、遵守纪律、考级通过。
        </div>
      </div>
    </div>
    <div class="span1"></div>
  </div>