<div class="container" style="margin-top:20px;">
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <ul class="breadcrumb">
      <li><a href="/<%= "?locale=" + params[:locale] if !params[:locale].nil? %>"><%= t("views.navigation.homepage") %></a> <span class="divider">&gt;</span></li>
      <li class="active"><%= t("views.navigation.works") %> <span class="divider">&gt;</span></li>
      <li class="active"><%= t("views.navigation.teacherworks") %></li>

      <div class="pull-right">
        <a href="?locale=cn" class="language"><img src="/res/images/flags/cn.png" /></a>
        <a href="?locale=en" class="language"><img src="/res/images/flags/us.png" /></a>
      </div>
    </ul>
  </div>
  <div class="span1"></div>
</div>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10 well">
    <div class="row-fluid">
      <div class="span3"><h3>陈德浒作品欣赏</h3></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work1.jpg" title="上海花园小区门牌" ><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work1.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work2.jpg" title="行书牌匾 前程似锦"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work2.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work3.jpg" title="字是文人之衣冠"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work3.jpg" width="207" height="123" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work4.jpg" title="谏太宗十思疏  小凯 "><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work4.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work5.jpg" title="文化大厦"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work5.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work6.jpg" title="古诗词 篆书"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work6.jpg" width="207" height="123" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work7.jpg" title="行书牌匾 鹏程万里"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work7.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work8.jpg" title="克莱尔进出口贸易公司"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work8.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work9.jpg" title="行书牌匾 "><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work9.jpg" width="207" height="123" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work10.jpg" title="行书条幅"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work10.jpg" width="206" height="275" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work11.jpg" title="银都桥"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work11.jpg" width="206" height="275" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/cdh_work/cdh_work12.jpg" title="草书条幅"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/cdh_work/small/cdh_work12.jpg" width="206" height="275" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="span1"></div>
</div>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10 well">
    <div class="row-fluid">
      <div class="span3"><h3>刘忠敏作品欣赏</h3></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work1.jpg" title="山水条幅"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work1.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work2.jpg" title="山水条幅"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work2.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work3.jpg" title="工笔荷花"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work3.jpg" width="207" height="123" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work4.jpg" title="水墨山水"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work4.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work5.jpg" title="行书小品"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work5.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work6.jpg" title="泼墨小景"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work6.jpg" width="207" height="123" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work7.jpg" title="工笔富贵白头"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work7.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work8.jpg" title="小青绿山水"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work8.jpg" width="207" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work9.jpg" title="幽谷鸣泉"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work9.jpg" width="207" height="123" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work10.jpg" title="雨景"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work10.jpg" width="206" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work11.jpg" title="漓江小景"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work11.jpg" width="206" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work12.jpg" title="写意牡丹"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work12.jpg" width="206" height="123" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work13.jpg" title="芙蓉"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work13.jpg" width="206" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work14.jpg" title="漓江山水"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work14.jpg" width="206" height="123" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work15.jpg" title="山水"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work15.jpg" width="206" height="123" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work16.jpg" title="条幅"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work16.jpg" width="206" height="275" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work17.jpg" title="泼墨山水"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work17.jpg" width="206" height="275" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images\lzm_work\lzm_work18.jpg" title="魏碑条幅"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images\lzm_work\small\lzm_work18.jpg" width="206" height="275" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/lzm_work/lzm_work19.jpg" title="魏碑条幅"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/lzm_work/small/lzm_work19.jpg" width="206" height="275" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/lzm_work/lzm_work20.jpg" title="放牛娃"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/lzm_work/small/lzm_work20.jpg" width="206" height="275" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/lzm_work/lzm_work21.jpg" title="条幅山水"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/lzm_work/small/lzm_work21.jpg" width="206" height="275" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/lzm_work/lzm_work22.jpg" title="条幅山水"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/lzm_work/small/lzm_work22.jpg" width="206" height="275" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/lzm_work/lzm_work23.jpg" title="驰骋"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/lzm_work/small/lzm_work23.jpg" width="206" height="275" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/lzm_work/lzm_work24.jpg" title="条幅山水"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/lzm_work/small/lzm_work24.jpg" width="206" height="275" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3"></div>
      <div class="span9">
        <ul class="thumbnails">
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/lzm_work/lzm_work25.jpg" title="观云图"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/lzm_work/small/lzm_work25.jpg" width="206" height="275" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/lzm_work/lzm_work26.jpg" title="行书条幅"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/lzm_work/small/lzm_work26.jpg" width="206" height="275" alt="" /></a>
          </li>
          <li class="span4">
            <a class="fancybox thumbnail" rel="gallery1" href="/res/images/lzm_work/lzm_work27.jpg" title="水墨山水条幅"><img class="lazy" src="/res/lazyload/blank.gif" data-original="/res/images/lzm_work/small/lzm_work27.jpg" width="206" height="275" alt="" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="span1"></div>
</div>