/* liScroll styles */

.tickercontainer { /* the outer div */
	height: 27px;
	margin: 0 auto; 
	padding: 0;
	overflow: hidden;
}

.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	top: 8px;
	height: 18px;
	overflow: hidden;
}

ul.newsticker { /* that's your list */
	position: relative;
	margin-left: 20px;
	font-size: 12px;
	font-family: Verdana;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	margin-right: 30px;
	/*background: #fff;*/
}

ul.newsticker li a {
	text-decoration: none;
	margin:0;
}
ul.newsticker li a:hover {
	text-decoration: underline;
}

ul.newsticker a {
	white-space: nowrap;
	padding: 0;
	color: #323232;
	margin: 0 50px 0 0;
}

ul.newsticker span {
	margin: 0 10px 0 0;
}

