<div class="container">
    <h1 class="text-center text-warning">你好，管理员</h1>
    <div class="row-fluid" style="margin-top:50px;">
        <div class="span4"></div>
        <div class="span4">
            <table class="table table-bordered table-hover">
                <tr><td style="text-align:center;line-height:50px;font-size:20px;"><a href="/admin/admin_announcements/new">发布新通告</a></td></tr>
                <tr><td style="text-align:center;line-height:50px;font-size:20px;"><a href="/admin/admin_announcements">管理公告</a></td></tr>
                <tr><td style="text-align:center;line-height:50px;font-size:20px;"><a href="/admin/logout">退出</a></td></tr>
            </table>
        </div>
        <div class="span4"></div>
    </div>